<div id="alerts">
    <div class="alert alert-danger alert-dismissible" role="alert" hidden="hidden">
        <strong>Error!</strong>
    </div>
    <div class="alert alert-success alert-dismissible" role="alert" hidden="hidden">
        <strong>Éxito</strong>
    </div>

</div>

<form class="form-horizontal" id="form-create-pregunta">
    <fieldset>

        {% if Pregunta != null%}
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="id">ID</label>
                <div class="col-md-4">
                    <input id="fieldUsuario" name="data[Pregunta][id]" type="text" placeholder="Id..." class="form-control input-md" readonly required="" value="{{Pregunta.id}}">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="changeFile">Cambiar Recurso</label>
                <div class="col-md-4">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary active" id="changeFileTrue">
                            <input type="radio" name="changeFile" value="true"  checked > Si
                        </label>
                        <label class="btn btn-primary" id="changeFileFalse">
                            <input type="radio" name="changeFile" value="false"  > No
                        </label>
                    </div>

                </div>
            </div>

        {% endif %}

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="oracion">Oración</label>
            <div class="col-md-4">
                <input id="fieldUsuario" name="data[Pregunta][oracion]" type="text" placeholder="Oracion..." class="form-control input-md" required="" value="{{Pregunta.oracion}}">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="opc1">Opción 1</label>
            <div class="col-md-4">
                <input id="fieldUsuario" name="data[Pregunta][opc1]" type="text" placeholder="Opcion 1..." class="form-control input-md" required="" value="{{Pregunta.opc1}}">

            </div>
        </div>


        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="opc2">Opción 2</label>
            <div class="col-md-4">
                <input id="fieldUsuario" name="data[Pregunta][opc2]" type="text" placeholder="Opcion 2..." class="form-control input-md" required="" value="{{Pregunta.opc2}}">

            </div>
        </div>


        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="opc3">Opción 3</label>
            <div class="col-md-4">
                <input id="fieldUsuario" name="data[Pregunta][opc3]" type="text" placeholder="Opcion 3..." class="form-control input-md" required="" value="{{Pregunta.opc3}}">

            </div>
        </div>


        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="opc4">Opción 4</label>
            <div class="col-md-4">
                <input id="fieldUsuario" name="data[Pregunta][opc4]" type="text" placeholder="Opcion 4..." class="form-control input-md" required="" value="{{Pregunta.opc4}}">

            </div>
        </div>


        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="just">Justificacion</label>
            <div class="col-md-4">
                <input id="fieldUsuario" name="data[Pregunta][just]" type="text" placeholder="Justificacion..." class="form-control input-md" required="" value="{{Pregunta.just}}">

            </div>
        </div>


        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="id_tema">Tema</label>
            <div class="col-md-4">
                <select id="id_tema" name="data[Pregunta][id_tema]" class="form-control" value="{{Pregunta.id_tema}}">
                    {% for tema in temas%}
                        <option value={{ tema.Tema.id }}>{{ tema.Tema.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="opcc">Opcion Correcta</label>
            <div class="col-md-4">
                <select id="opcc" name="data[Pregunta][opcc]" class="form-control" value="{{Pregunta.opcc}}">
                    {% for opc in 1..4%}
                        <option value={{ opc }}>Opcion {{ opc}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>


        <!-- File Chooser-->
        <div class="form-group" id="fileChooser">
            <label class="col-md-4 control-label" for="recurso">Recurso</label>
            <div class="col-md-4 fileinput fileinput-new input-group" data-provides="fileinput">
                    <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                    <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Seleccionar</span><span class="fileinput-exists">Cambiar</span><input type="file" name="data[Pregunta][recurso]" id="recurso"></span>
                    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remover</a>
                </div>
        </div>


        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="btn-enviar"></label>
            <div class="col-md-4">
                {% if Pregunta == null%}
                <button id="btn-enviar" name="btn-enviar" class="btn btn-success" type="button" role="button" onclick="createOrModElement('preguntas','createPregunta','form-create-pregunta')" >Guardar Cambios</button>


                {% else %}
                <button id="btn-enviar" name="btn-enviar" class="btn btn-success" type="button" role="button" onclick="createOrModElement('preguntas','executeMod','form-create-pregunta')">Guardar Cambios</button>
                {% endif %}
            </div>
        </div>
    </fieldset>
</form>


<div class="container-fluid" id="error">

</div>

{% block scripts %}
    {{html.script('management')  }}
    {{html.script('jasny-bootstrap.min') }}
{% endblock %}