{% import 'Layouts/layout-modal.twig' as modals %}

<div class='ver-pregunta' class='col-md-12'>
{% if preguntas%}
	<table class='table table-hover table-striped'>
		<tr>
			<th>id</th>
			<th>Oración</th>
			<th>A</th>
			<th>B</th>
			<th>C</th>
			<th>D</th>
			<th>Justificación</th>
			<th>Tema</th>
			<th>Recurso</th>
			<th></th>
		</tr>
		{% for pregunta in preguntas%}
		<tr>
			<td>{{pregunta.Pregunta.id}}</td>
            <td>{{pregunta.Pregunta.oracion}}</td>
			<td><span class="{% if pregunta.Pregunta.opcc == 1 %}bold text-success{% endif%}">{{pregunta.Pregunta.opc1}}</span></td>
            <td><span class="{% if pregunta.Pregunta.opcc == 2 %}bold text-success{% endif%}">{{pregunta.Pregunta.opc2}}</span></td>
            <td><span class="{% if pregunta.Pregunta.opcc == 3 %}bold text-success{% endif%}">{{pregunta.Pregunta.opc3}}</span></td>
            <td><span class="{% if pregunta.Pregunta.opcc == 4 %}bold text-success{% endif%}">{{pregunta.Pregunta.opc4}}</span></td>

            <td>{{pregunta.Pregunta.just}}</td>
			<td>{{pregunta.Tema.nombre}}</td>
			<td>
                {%if pregunta.Pregunta.recurso %}
                Sí
                {% else %}No
                {% endif %}

            </td>

			<td>
				<button class='btn btn-md btn-primary' onclick="$('.ver-pregunta').load('Preguntas/modificar',{'id':'{{pregunta.Pregunta.id}}'})"><span class='glyphicon glyphicon-edit'></span></button>
				<button class='btn btn-md btn-danger' data-toggle="modal" data-target="#modal-preguntar" onclick="deleteElement('{{pregunta.Pregunta.id }}','{{ pregunta.oracion.username }}','Preguntas','pregunta')">
					<span class='glyphicon glyphicon-remove'></span>
				</button>
			</td>
		</tr>


        {% endfor %}
	</table>



{% else %}
<div class='col-md-12 text-center'>
	<p class='lead'>Lo sentimos, no hay registros.</p>
</div>
{% endif %}
</div>

{{ modals.createModal('pregunta','la') }}



{% block scripts %}
    {{html.script('management')}}
{% endblock %}


