{% extends "Layouts/layout-dashboard.twig" %}

{% block navbar_personal%}

    {% if evaluacion_activa %}
        <li><a href="reanudar_evaluacion"><span class='glyphicon glyphicon-edit'></span> Reanudar Evaluación</a></li>
    {% else %}
        <li><a href="evaluacion">
                <span class='glyphicon glyphicon-plus'></span>
                Nueva Evaluación</a></li>
    {% endif %}

    <li class="hidden"><a href="resultados"><span class='glyphicon glyphicon-list-alt'></span>  Resultados</a></li>


{% endblock %}


	{% block contenido_dashboard%}
        <div class='col-md-4 top-card'>
            <div class='card col-md-12 text-center'>
                <div class='text-center'>
                    <h2><span class='glyphicon glyphicon-certificate green'></span>
                        Puntaje Promedio</h2>
                </div>

                <span class='promedio'>{{promedio | number_format(2, '.', ',')}}</span>
            </div>

            {% block resultados %}
                <div class='col-md-12 card'>
                    <div class='text-center'>
                        <h2>
                            <span class='glyphicon glyphicon-stats green'></span>
                            Mis Avances</h2>
                    </div>
                    <div class='text-center'>
                        <canvas id="myChart" width="300" height="300"></canvas>
                        <p class='lead'>
                            Aquí puedes ver tus avances. Compara
                            <span style='color:rgba(207, 37, 66, 1)'>tu último resultado</span> contra <span style='color:rgba(66,139,202,1)'>tu promedio</span>.
                        </p>
                    </div>

                </div>

            {% endblock %}
        </div>
        <div class='col-md-8 top-card'>

            {% if evaluacion_activa%}
                {% block reanudar_evaluacion%}
                    <div class='col-md-12 card'>
                        <div class='col-md-4 text-center'>
                            <h2>
                                <span class='glyphicon glyphicon-edit green'></span>
                                Evaluación en Progreso</h2>

                        </div>
                        <div class='col-md-8 text-center'>

                            <h1>
                                <a href="evaluacion" class='btn btn-lg btn-success'>Continuar con la Evaluación</a>
                            </h1>
                            <div class='text-center'>
                                <p><strong>Tienes una evaluación en curso.</strong> <br></p>
                            </div>

                        </div>
                    </div>
                {% endblock %}

            {% else  %}
                {% block nueva_evaluacion%}
                    <div class='col-md-12 card'>
                        <div class='col-md-4 '>
                            <h2>
                                <span class='glyphicon glyphicon-plus green'></span>
                                Nueva Evaluación</h2>

                        </div>
                        <div class='col-md-8 text-center'>

                            <h1>
                                <a href="evaluacion" class='btn btn-lg btn-success btn-block'>Iniciar Ahora</a>
                            </h1>
                            <div class='col-md-offset-2 col-md-8 text-center'>
                                <p>Cada evaluación tiene 120 preguntas y tienes tres horas para realizarla.</p>
                            </div>

                        </div>
                    </div>
                {% endblock %}
            {% endif %}

            {% block ultimos_resultados%}
                <div class='col-md-12 card'>
                    <div class='col-md-4 text-center'>
                        <h2>
                            <span class='glyphicon glyphicon-time green'></span>
                            Últimos Resultados</h2>

                        <a href="resultados" class='hidden btn btn-lg btn-primary'>Ver Todos</a>

                    </div>
                    <div class='col-md-8'>
                        <table class='table table-hover table-striped' id='ultimos-resultados'>
                            <tr>
                                <th>Fecha de Evaluación</th>
                                <th>Resultado</th>
                            </tr>
                            {%for eval in ultimos_resultados%}

                                <tr class='
											{% if eval.promedio >= 85 %}success
											{% elseif eval.promedio < 85 and eval.promedio >= 60 %}warning
											{% elseif eval.promedio < 60  %}danger{%else%}
											{% endif %}
											' >
                                    <td><a href="revision?id={{ eval.id }}">{{eval.fecha}}</a>
                                    </td>
                                    <td class='tet'>
                                        <a href='revision?id={{ eval.id }}' class='{% if eval.promedio >= 85 %}text-success
											{% elseif eval.promedio < 85 and eval.promedio >= 60 %}text-warning
											{% elseif eval.promedio < 60  %}text-danger{%else%}
											{% endif %}'>
                                            {{eval.promedio}}
                                        </a>
                                    </td>

                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% endblock %}

            {% block promedios%}
                <div class='col-md-12 card'>
                    <div class='col-md-4 text-center'>
                        <h2>
                            <span class='glyphicon glyphicon-list-alt green'></span>
                            Promedios</h2>
                        <p class='lead'>Así ha cambiado tu promedio depués de cada evaluación.</p>
                        <p class='lead '><strong>Tu promedio: <span class='text-success '>{{promedio | number_format(2, '.', ',')}}</span></strong></p>

                    </div>
                    <div class='col-md-8 text-center'>
                        <canvas id="grafica-promedios" width="460" height="245"></canvas>
                    </div>
                </div>
            {% endblock %}

        </div>

        </div>

    {% endblock %}

{% block scripts %}
    {{html.script('Chart.min')}}
    {{html.script('plot-alumnos')}}
{% endblock %}