<div id="alerts">
    <div class="alert alert-danger alert-dismissible" role="alert" hidden="hidden">
        <strong id="error-message">Error</strong>
    </div>
    <div class="alert alert-success alert-dismissible" role="alert" hidden="hidden">
        <strong id="success-message">Éxito</strong>
    </div>

</div>

<form class="form-horizontal" id="form-create-user">
    <fieldset>

        {% if User != null %}
            <!-- Text input-->
            <div class="form-group hidden">
                <label class="col-md-4 control-label" for="fieldId">Id</label>
                <div class="col-md-4">
                    <input id="fieldId" name="fieldId" type="text" placeholder="Usuario..." class="form-control input-md" required="" value="{{User.id}}" readonly>
                </div>
            </div>

        {% endif %}

        <!-- Text input-->
        <div class="form-group">
            <div class="control-group">
            <label class="col-md-4 control-label" for="fieldUsuario">Usuario</label>
                <div class="controls">

                    <div class="col-md-4">
                    <input data-validation-regex-regex="[a-zA-Z0-9]{3,30}"
                       data-validation-regex-message="Debe de contener entre 3 y 30 letras o números"
                       id="fieldUsuario" name="fieldUsuario" type="text" placeholder="Usuario..." class="form-control input-md" value="{{User.username}}">
                    <span class="help-block"></span>

                    </div>
                </div>
            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <div class="control-group">
                <div class="controls">
                    <label class="col-md-4 control-label" for="fieldPassword">Contraseña</label>
                    <div class="col-md-4">
                        <input required
                               data-validation-required-message="Este campo es obligatorio"
                               id="fieldPassword" name="fieldPassword" type="password" placeholder="Contraseña..." class="form-control input-md" >
                    </div>
                </div>
            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <div class="control-group">
                <div class="controls">
                        <label class="col-md-4 control-label" for="fieldPasswordConfirm">Confirmación de Contraseña</label>
                        <div class="col-md-4">
                            <input
                                    data-validation-match-match="fieldPassword"
                                    data-validation-match-message="Ambas contraseñas deben ser idénticas"
                                    id="fieldPasswordConfirm" name="fieldPasswordConfirm" type="password" placeholder="Contraseña..." class="form-control input-md">
                            <span class="help-block"></span>
                        </div>
                </div>
            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="fieldRol">Rol de Usuario</label>
            <div class="col-md-4">
                <select id="fieldRol" name="fieldRol" class="form-control" value="{{User.role_id}}">
                    <option value="1">Administrador</option>
                    <option value="2">Profesor</option>
                    <option value="3">Alumno</option>
                </select>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <div class="control-group">
                <div class="controls">
                    <label class="col-md-4 control-label" for="fieldNombre">Nombre</label>
                    <div class="col-md-4">
                        <input
                                data-validation-regex-regex="[A-ZÑ]{1}[A-Za-zñáéíóú ]+"
                                data-validation-regex-message="El nombre solo puede contener caracteres y empezar con mayúscula"
                                id="fieldNombre" name="fieldNombre" type="text" placeholder="Nombre..." class="form-control input-md" required="" value='{{Profile.nombre}}'>
                        <span class="help-block"></span>
                    </div>

                   </div>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <div class="control-group">
                <div class="controls">
                        <label class="col-md-4 control-label" for="fieldPaterno">Apellido Paterno</label>
                        <div class="col-md-4">
                        <input
                                data-validation-regex-regex="[A-ZÑ]{1}[A-Za-zñáéíóú ]+"
                                data-validation-regex-message="El apellido solo puede contener caracteres y empezar con mayúscula"
                                id="fieldPaterno" name="fieldPaterno" type="text" placeholder="Apellido Paterno..." class="form-control input-md" value='{{Profile.apaterno}}'>
                        <span class="help-block"></span>
                        </div>
                </div>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <div class="control-group">
                <div class="controls">
                <label class="col-md-4 control-label" for="fieldMaterno">Apellido Materno</label>
                    <div class="col-md-4">
                        <input
                                data-validation-regex-regex="[A-ZÑ]{1}[A-Za-zñáéíóú ]+"
                                data-validation-regex-message="El apellido solo puede contener caracteres y empezar con mayúscula"
                                id="fieldMaterno" name="fieldMaterno" type="text" placeholder="Apellido Materno..." class="form-control input-md" required="" value='{{Profile.amaterno}}'>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <div class="control-group">
                <div class="controls">
                <label class="col-md-4 control-label" for="fieldEmail">Correo Electrónico</label>
                    <div class="col-md-4">
                        <input
                                data-validation-email-message="Tiene que ser una dirección de correo electrónico"
                                id="fieldEmail" name="fieldEmail" type="email" placeholder="email" class="form-control input-md" required="" value='{{User.email}}'>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
        </div>



        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="btn-enviar"></label>
            <div class="col-md-4">
                {% if User == null%}
                <button id="btn-enviar" name="btn-enviar" class="btn btn-success" type="button" role="button" onclick="createOrModElement('users','createUser','form-create-user')" >Guardar Cambios</button>


                {% else %}
                <button id="btn-enviar" name="btn-enviar" class="btn btn-success" type="button" role="button" onclick="createOrModElement('users','executeMod','form-create-user')">Guardar Cambios</button>
                {% endif %}
            </div>
        </div>
    </fieldset>
</form>


{% block scripts %}
    {{html.script('management')  }}
{% endblock %}